---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}
<form id="contact">
 <label for="fname">first name </label><br>
 <input type="text" id="lname" name="fname" required><br>

 <label for="lname">Last name name </label ><br>
 <input type="text" id="lname" name="lname" required><br>

 <input type="button" name="submit" value="submit"/>
</form>

<script>
  document.getElementById("contact").addEventLister("submit", function(event){
    var firstName = document.getElementById("fname").value;
    var lastName = document.getElementById("lname").value;

    if (!firstName) {
      alert("No firstName");
    }

    if (!lastName) {
      alert("No lastName");
    }
  })
</script>
