---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}
<form action="">
 <label for="fname">first name </label><br>
 <input type="text" id="lname" name="fname" required><br>
 <label for="lname">Last name name </label ><br>
 <input type="text" id="lname" name="lname" required><br>

 <input type="button" name="submit" value="submit"/>
</form>

<script>
   function validateMyForm() {
     e.preventDefault();

     if(check if your condition are not satisfying){
       alert("validation failed false");
       returnToPreviousPage();

       return false;
     }
     alert("validation passed");

     return true;
   }




</script>
